/* You can add global styles to this file, and also import other style files */
body {
  background: white;
  overflow-x: hidden;
  /* transition: 5s;
  -webkit-transition: all 5s; */
  width: 100vw;
  height: auto;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*flex-direction: column;*/
  /*text-align: center;*/
}

/* body:hover {
  background: black;
  transition: 5s;
  -webkit-transition: all 5s;
} */

h1 {
  color: yellow;
  width: 100vw;
  margin-top: 100px;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  text-shadow: 0 0 1rem #666;
}

h2 {
  font-size: 4em;
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 1rem black;
  margin-top: 15vh;
  margin-bottom: 0;
  font-weight: 500;
  font-stretch: narrower;
}

h3 {
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 1rem black;
  font-weight: 400;
  font-stretch: narrower;
  margin: 10px auto;
}

h4 {
  font-size: 1.2rem;
  color: #aaa;
  text-shadow: 0 0 0.5rem black;
  font-stretch: narrower;
  margin: 0vh 0;
  font-weight: 600;
}

span {
  color: #666;
  margin-top: 200px;
  font-weight: 400;
  font-size: 0.9em;
}

hr {
  width: 60%;
  height: 1px;
}
.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
  grid-template-rows: 15vh 15vh 15vh 15vh 15vh 15vh 15vh 15vh 15vh;
  grid-template-areas: "a b c d" "e f g h";
  transition: 0.3s;
  -webkit-transition: background-color 0.3s;
  height: 100vh;
  width: 100vw;
}

.content:hover {
  background-color: black;
  opacity: 0.8;
  transition: 5s;
  -webkit-transition: all 5s;
}

.header-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: black;
  text-align: center;
  transition: 3.5s;
  -webkit-transition: color 3s;
}

/* .header-content h2 {
  font-size: 3em;
  margin-top: 140px;
  font-weight: 600;
  transition: 0.1s;
  -webkit-transition: color 0.1s;
} */

.hero-content {
  height: 80vh;
  width: 100vw;
  /* margin-top : -50vh; */
  background-color: white;
  background-image: url(/src/assets/iphone.jpg);
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.button-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 35vw;
  background: transparent;
  margin-top: 4vh;
  font-size: 1.3rem;
  font-weight: 400;
}

div {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #222;
  background-image: url(/src/assets/iphones.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  transition: 3.5s;
  height: 15vh;
  width: 10vw;
  -webkit-transition: all 3.5s;
}

div:hover {
  background-color: #222;
  background-image: url(/src/assets/AirPods.jpg);
  transition: 0.01s;
  -webkit-transition: all 0.01s;
}

/* Video CSS */

#macbookbackground {
  width: 100vw;
  height: 105vh;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: url(/src/assets/macbook-pro.jpg);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center center;
  background-size: cover;
  margin: 10px 0;
}

.macbook-container {
  width: 100vw;
  text-shadow: 0 0 1rem black;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.button {
  font-size: 1.5rem;
}

#videobackground iFrame {
  width: 100vw;
  height: 100vh;
}

/* AppBar CSS */
.app-bar {
  color: #888888;
  font-size: 1em;
  height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  grid-template-columns: 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
  grid-template-rows: 45vh 45vh 45vh;
  grid-gap: 73px;
}

.app-bar a {
  text-decoration: none;
  color: #ccc;
  font-weight: 400;
  font-stretch: narrower;
}

/* Modular section */

.modular-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6vh 6vh 6vh;
  grid-gap: 10px;
  grid-template-areas: "a b";
  height: 175vh;
  width: 100vw;
  background-color: white;
}

/* .modular-section img {
  width: 47vw;
  height: 60vh;
}

.modular-section img:nth-child(5) {
  height: auto;
  width: 60vw;
} */

.modular-section-content-1 {
  width: 47vw;
  height: 60vh;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url(/src/assets/applewatch.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120%;
  margin: 10px 0;
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.watch-branding {
  display: flex;
  flex-direction: row;
}

figure h2 {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
}
figure h4 {
  color: #bb0000;
}

section figure {
  margin-top: 100px;
}

section img {
  width: 32px;
  height: 40px;

  margin-right: 5px;
}

.modular-section-content-2 {
  width: 47vw;
  height: 60vh;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: url(/src/assets/ipadpro.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  margin: 10px 0;
}

.modular-section-content-3 {
  width: 47vw;
  height: 60vh;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* align-items: center; */
  background-image: url(/src/assets/imac.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  margin: 10px 0;
  color: black;
}

.modular-section-content-3 h2 {
  font-size: 5rem;
  color: black;
  text-shadow: none;
  font-weight: 500 !important;
}

.modular-section-content-4 {
  width: 47vw;
  height: 60vh;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: url(/src/assets/backtoschool.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  margin: 10px 0;
}

.modular-section-content-5 {
  width: 47vw;
  height: 60vh;
  background-color: white;
  background-image: url(/src/assets/fitness.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  margin: 10px 0;
}

.modular-section-content-6 {
  width: 47vw;
  height: 60vh;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: url(/src/assets/diversity1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120%;
  margin: 10px 0;
}

.bottom-navigation {
  min-height: 140vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.bottom-navigation p {
  width: 60vw;
  margin: 50px auto;
  color: #888;

}
